 <div >
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-puppy-1.jpg">
        </ion-thumbnail>
        <h2>This is teh Search 2 Home-Component</h2>
      </ion-item>
    </div>