<ion-header>
  <ion-navbar color="primary">

    <ion-segment [(ngModel)]="pet">
      <ion-segment-button class="img-logo">
        <img src="../../assets/custom-icons/logo2.png">
      </ion-segment-button>
      <ion-segment-button  value="news">
        <ion-icon name="iushumani-news"></ion-icon>
      </ion-segment-button>
      <ion-segment-button (click)="showIssuesVol()" value="list">
        <ion-icon name="iushumani-list"></ion-icon>
      </ion-segment-button>
       <ion-segment-button value="search">
        <ion-icon name="iushumani-search"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
   
  </ion-navbar>
</ion-header>

<ion-content no-padding>

<!-- For Segment -->
  <div [ngSwitch]="pet">
  	<!-- News Section-->
    <div *ngSwitchCase="'news'" >

      <div align-items-center align-self-center *ngIf="loadingSpiner == 'loading'">
       <ion-grid>
      	  <ion-row>
      	  	<ion-col col-4>
      	  	</ion-col>
    	 	    <ion-col col-4  text-center>	
    		 		<ion-spinner showWhen="ios" name="ios"></ion-spinner>
    		 		<ion-spinner showWhen="android" name="crescent"></ion-spinner>
    		 		<ion-spinner showWhen="windows" name="crescent"></ion-spinner>
    	 	    </ion-col>
  	 	      <ion-col col-4>
      	    </ion-col>
  	 	  </ion-row>
  	 	 </ion-grid>  	
   		</div>

      <ion-card *ngFor="let news of newsData;" no-padding>
        <ion-row>
          <div class="iushumani-card" padding>
            <ion-col col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2>
              <img src="../../assets/custom-icons/logo2.png"/>
            </ion-col>
            <ion-col col-8>
              <ion-card-content no-padding>
                <ion-card-title>
                  {{news.title | truncate : 50}}
                </ion-card-title>
                  <p align="justify">"{{news.description | truncate : 120}}</p>
                  <h5 align="center" color="primary" outline><em>Ver más...</em></h5>
                  <p align="right">{{news.date}}</p>
                  <button (click)="viewPDF(news.title, news.urlPDF);">Ver PDF</button>
              </ion-card-content>
            </ion-col> 

          </div> 
        </ion-row>   
      </ion-card>


    </div>
    <!-- xx News Section xx -->
    <!-- List Section-->
    <div *ngSwitchCase="'list'">
     <ion-card *ngFor="let vol of volData;" no-padding>
        <ion-row>
          <div class="iushumani-card" padding>
            <ion-col col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2>
              <img src="http://iushumani.org/public/journals/1/cover_issue_1_en_US.png"/>
            </ion-col>
            <ion-col col-8>
              <ion-card-content no-padding>
                <ion-card-title>
                  Vol: {{vol.Vol}}
                </ion-card-title>
               <!-- <div *ngFor="let articles of vol.publisehd_articles;">
                  <p>{{articles.length}}
                    {{articles.description | truncate : 20}}
                  </p>
                </div>-->
                <button ion-button color="primary" small clear>See more...</button>

              </ion-card-content>
               <p right>
                  {{vol.year}}
                </p>
            </ion-col> 
          </div> 
        </ion-row>    
      </ion-card>
    </div>
	<!-- xx List Section xx -->
	<!-- Search Section-->
    <div *ngSwitchCase="'search'">

      <ion-searchbar (ionInput)="search($event)"></ion-searchbar>

      <div class="search-text" *ngIf="textSearch;">
        <p>
          Resultados para: <strong>{{textSearch}}</strong>
        </p> 
      </div>

      <div class="search-text" *ngIf="loadingsearch;">
        <ion-grid>
          <ion-row  >
            <ion-col col-4>
            </ion-col>
              <ion-col col-4  text-center>  
              <ion-spinner showWhen="ios" name="ios"></ion-spinner>
              <ion-spinner showWhen="android" name="crescent"></ion-spinner>
              <ion-spinner showWhen="windows" name="crescent"></ion-spinner>
             </ion-col>
             <ion-col col-4>
             </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-card  *ngFor="let search of searchData;" no-padding>
        <ion-row>
          <div class="iushumani-card" padding>
            <ion-col col-4 col-sm-4 col-md-3 col-lg-3 col-xl-2>
              <img src="http://iushumani.org/public/journals/1/cover_issue_1_en_US.png"/>
            </ion-col>
            <ion-col col-8>
              <ion-card-content no-padding>
                <ion-card-title>
                 "{{search.name | truncate : 50}}
                </ion-card-title>
                <p align="justify">"{{search.citations | truncate : 120}}</p>
                <h5 align="center" color="primary" outline><em>Ver más...</em></h5>
              </ion-card-content>
            </ion-col> 
          </div> 
        </ion-row>    
      </ion-card>
    </div>
    <!-- xx Search Section xx -->

  </div>


</ion-content>
