page-home {

	.img-logo{
        width: 42px;
        height: 42px;
	}

	.segment-button.segment-activated{
		background: #750024;
	}
	 
	ion-card{
	 	border-radius: 12px!important;
	 	background: #f1f1f1!important;
	 	border: 1px solid #37546b!important;
	 	.iushumani-card {
	 		padding-top: 1px!important;
		 	display: flex;
		 	align-items: center;
	 	}
	 	ion-card-title{
	 		color: #37546b!important;
	 		font-size:12px!important;
	 		font-weight: bold!important;
	 	}
	 	p{
	 		font-size:10px!important;
	 		
	 	}
	 	.year{
	 		display: flex;
		 	align-items: flex-end;
	 	}
	}
	ion-segment ion-icon{
		margin: 9px!important;
	}
	ion-navbar ion-segment-button p{
		color: white!important;
	}

	 .search-text{
  	background: white;
  	top: 95px;
  	width: 95%;
  	z-index: 2;
  }

}
